target/
*.class

# Log files
*.log

# Project files
.classpath
.project
.settings/
.factorypath
build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store