<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.2" xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">

    <!-- JPA, DBMS 연결 관련 설정 정보 작성하는 파일 -->
    <persistence-unit name="hello-jpa">
        <!-- name의 값은 EntityManagerFactory 생성 값과 동일하게 지정  -->

        <properties>
            <!-- DBMS(MySQL) 관련 설정 -->
            <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/testdb?serverTimezone=UTC"/>
            <property name="javax.persistence.jdbc.user" value="root"/>
            <property name="javax.persistence.jdbc.password" value="1234"/>

            <!-- JPA 관련 설정(옵션) -->
            <!-- 테이블 생성, 변경 관련 옵션 -->
            <property name="hibernate.hbm2ddl.auto" value="create"/>

            <!-- JPA가 생성한 쿼리를 콘솔에 출력 -->
            <property name="hibernate.show_sql" value="true"/>

            <property name="hibernate.format_sql" value="true"/>
        </properties>

    </persistence-unit>

</persistence>